body{
    background: url(../images/background.jpg)
    no-repeat center center fixed;
    background-size: cover;
}
div.bandeaudroite
{
    margin: 30px auto;
    width: 50%;
    text-align:center;
    position:relative;
    border: 1px solid black;
    box-shadow: 8px 8px 5px black;
    padding: 4px 40px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
}
div.bandeau
{
    margin: 30px auto;
    width: 20%;
    text-align:center;
    position:relative;
    border: 1px solid black;
    box-shadow: 8px 8px 5px black;
    padding: 4px 40px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
}
li.droite
{
    display: inline;
    text-align:right;
    color: white;
    font-size:50px;
    border-radius: 15px;
    opacity: 0.5;
    font-weight:bold;
    margin-right: 40px;
}
a.menu
{
    color: white;
    font-size:35px;
    text-decoration:none;
}
div.card
{
    background-color: #C17503;
    margin: 40px auto;
    opacity: 0.7;
}
div.card-header
{
    color: black;
}
table.table
{
    background-color: #C17503;
    border-color: #C17503;
    margin: 40px auto;
}
td.ligne
{
    background-color: #C17503;
    border-color: black;
}
a.btn-primary
{
    background-color: #C17503;
    color: black;
    border-color: black;
}
a.btn
{
    background-color: grey;
    color: black;
    border-color: black;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: #C17503;
    --bs-btn-active-bg: #C17503;
    --bs-btn-active-border-color: #C17503;
}
a.btn-danger
{
    background-color: red;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: red;
}
a.boutongen
{
    color: #C17503;
}