<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link href="../static/css.js/style.css" th:href="@{css.js/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css">
</head>
<body>
<br><br><br><br>
<a th:href="@{joueur}" class="btn-Acceuil">Afficher Joueurs</a>
<a th:href="@{equipe}" class="btn-Acceuil">Afficher Equipes</a>
<a th:href="@{match}" class="btn-Acceuil">Afficher Matchs</a>
<br><br><br><br><br><br><br><br>
<a th:href="@{joueur}" class="btn-Acceuil">Afficher Joueurs</a>
<a th:href="@{equipe}" class="btn-Acceuil">Afficher Equipes</a>
<a th:href="@{match}" class="btn-Acceuil">Afficher Matchs</a>
<br><br><br><br><br><br><br><br>
<a th:href="@{AppSpring}" class="button">Go to lautre page</a>
</body>
</html>