<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
    <h3></h3>

    <div class="container mt-2">
        <div class="card">
            <div class="card-header">Liste des utilisateurs</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p:${listUsers}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.username}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>
</html>